"""Basic tests for {{ project_name }}."""

from yarl import URL

from {{ package_name }} import Client


async def test_client_context_manager() -> None:
    """Test using the client as an async context manager."""
    client = Client(base_url=URL("https://example.com"))

    async with client as context_client:
        assert context_client is client
