"""Asynchronous Python client for {{ project_name }}."""
from __future__ import annotations

from dataclasses import dataclass, field
from typing import Any, Self, cast

from aiohttp import ClientError, ClientSession
from aiohttp.hdrs import METH_GET
from yarl import URL

from .exceptions import APIError
from .models import JSON


@dataclass
class Client:
    """Main client for handling connections with the {{ project_name }} API."""

    base_url: URL = field(default_factory=lambda: URL("https://example.com"))
    request_timeout: float = 10.0
    session: ClientSession | None = None

    _close_session: bool = False

    async def _request(
        self,
        uri: str,
        *,
        method: str = METH_GET,
        params: dict[str, Any] | None = None,
    ) -> JSON:
        """Handle a request to the {{ project_name }} API."""
        if self.session is None:
            self.session = ClientSession()
            self._close_session = True

        url = self.base_url / uri.lstrip("/")

        try:
            async with self.session.request(
                method,
                url,
                params=params,
                timeout=self.request_timeout,
            ) as response:
                response.raise_for_status()
                return cast("JSON", await response.json())
        except (TimeoutError, ClientError) as err:
            raise APIError from err

    async def close(self) -> None:
        """Close the client session if it was created by this client."""
        if self.session and self._close_session:
            await self.session.close()

    async def __aenter__(self) -> Self:
        """Return the client as an async context manager."""
        return self

    async def __aexit__(self, *_exc_info: object) -> None:
        """Close the client when leaving the async context manager."""
        await self.close()
