blank_issues_enabled: true
contact_links:
  - name: ❓ I have a question
    url: https://github.com/{{github_username}}/python-{{project_slug}}/discussions/new
    about: We use GitHub issues for tracking bugs / feature requests, check discussions for questions.
